.header {
    &__step-text, &__progress-text, &__score-text {
        letter-spacing: 2px;
        color: white;
        text-align: center;
        font-size: 20px;
    }
    &__step, &__score {
        padding: 9px 40px;
        height: min-content;
    }
    &__indent {
        padding: 0 20px;
    }
    &__wrapper {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__score::before, &__step::before {
        content: "";
        position: absolute;
        top: 0;
        right: 9px;
        width: 24px;
        height: 23px;
        background: url(../img/header/Layer20.png) center/contain no-repeat;
    }
    &__step {
        position: absolute;
        left: 0;

        background: rgb(255,139,219);
        background: linear-gradient(180deg, rgba(255,139,219,1) 0%, rgba(193,0,76,1) 60%, rgba(174,0,74,1) 78%, rgba(228,2,95,1) 100%);

        border: 1px solid #C29EB1;
        border-radius: 20px;

    }
    &__progress {
        background: rgb(0,34,77);
        background: linear-gradient(180deg, rgba(0,34,77,1) 0%, rgba(0,43,94,1) 54%, rgba(0,50,112,1) 100%);

        box-sizing: content-box;
        border: 1px solid #114F7E;
        border-radius: 0 0 20px 20px;
        padding: 13px 7px;
        margin: 0 auto;
        width: 450px;
        &-text {
            line-height: 30px;
            margin-bottom: 5px;
        }
        &-scale {
            box-shadow: 0px 2px 2px #005CA4;
            background: #00133A;
            padding: 3px;
            border-radius: 20px;
            width: 90%;
            margin: 0 auto;
            height: 31px;
        }
        &-value {
            display: block;

            background: rgb(178,255,65);
            background: linear-gradient(180deg, rgba(178,255,65,1) 0%, rgba(0,168,0,1) 54%, rgba(0,236,0,1) 100%);
            border-radius: 20px;
            width: 50%;
            height: 100%;
        }
    }
    &__score {
        position: absolute;
        right: 0;

        background: rgb(255,141,254);
        background: linear-gradient(180deg, rgba(255,141,254,1) 0%, rgba(210,40,217,1) 24%, rgba(173,8,186,1) 52%, rgba(108,1,118,1) 77%, rgba(130,12,229,1) 100%);

        border-radius: 20px;
        border: 1px solid #BEA0B9;
    }
}