@font-face {
    font-family: "Marvin";
    font-display: swap;
    src: url("../fonts/Marvin.woff") format("woff"), url("../fonts/Marvin.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}