@import "nulling-styles";
@import "fonts";
@import "_header";

body {
    font-family: "Marvin";
    user-select: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.game {
    height: 100%;

    &__header {
        padding: 0 20px;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__columns {
        overflow: hidden;
        
        display: flex;
        padding: 16px 0;
        border-radius: 9px;
    }
    &__inner {
        box-shadow: inset 0 0 6px 10px #a7dfe9;
        background: #001E3B;
        border-radius: 40px;
        
        padding: 12px 24px;
        margin-top: 50px;
    }
    &__list {
        position: relative;
        width: 60px;
        height: 540px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-items {
            position: absolute;

            width: 60px;
            height: 68px;
        }
    }
}
.popup {
    background: #000000b0;

    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__wrapper {
        margin: 15px;

        width: 100%;
        max-width: 350px;
    }
    &__header {
        background: rgb(0,210,252);
        background: linear-gradient(180deg, rgba(0,210,252,1) 0%, rgba(0,148,232,1) 19%, rgba(0,81,153,1) 49%, rgba(0,60,122,1) 100%); 
        border: 1px solid #3875A8;
        border-radius: 20px 20px 0 0;

        display: flex;
        align-items: center;
        justify-content: center;
        
        max-width: 210px;
        width: 100%;
        height: 55px;

        margin: 0 auto;
        &-text {
            font-size: 24px;
        }
    }
    &__inbetweener-text, &__header-text {
        color: white;
        letter-spacing: 2px;
    }
    &__inbetweener, &__inbetweener-value {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__inbetweener {
        width: 100%;

        box-shadow: inset 0 0 5px 7px #00E9FF;
        border-radius: 20px;
        background: #00539E;

        padding: 20px 0 23px 0;
        &-text {
            font-size: 35px;
        }
        &-scores {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            background: rgb(0,24,59);
            background: linear-gradient(180deg, rgba(0,24,59,1) 0%, rgba(0,42,92,1) 54%, rgba(0,51,113,1) 100%);
            box-shadow: 0 0 3px 0px #0089ff;
            border-radius: 20px;
            width: 80%;

            padding: 13px 0;
        }
        &-title {
            font-size: 27px;
            color: white;

            margin-bottom: 6px;
        }
        &-item {
            font-size: 44px;
            color: white;
        }
    }
}